<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDAO">
    <select id="selectByDate" resultType="user">
            select id from cmfz_user where  datediff(now(),create_date) &lt; #{i} and sex=#{sex}
        </select>
    <select id="selectBySexAndPro" resultType="china">
            select province name,count(id) value from cmfz_user where sex=#{sex} group by province
        </select>
</mapper>



















